body{
    box-sizing: border-box;
}
.navbar-brand{
    width: 50%;
}
.navbar-brand img{
    width: 200px;
    margin-left: 40px;
}
.navbar-nav{
    width: 50%;
    margin-left: 50px;
}
.collapse .navbar-collapse{
    margin: auto    ;
}
.nav-item{ width: 40%;
    font-size: 20px;
    margin: 10px;
        background: #3B6E1C;
        color: #fff !important;
        background-color: #3B6E1C;
        border: 0.0625rem solid #3B6E1C;
        border-radius: 1.5rem;
    text-align: center  ;
        padding: 1px 2px !important;
    
            /* padding: 12px 28px !important; */

}
.nav-item a{
    color: #fff !important;
}








.top-1 button{
    

    font-size: 16px;
    margin: 20px;
        background: #3B6E1C;
        color: #fff !important;
        background-color: #3B6E1C;
        border: 0.0625rem solid #3B6E1C;
        border-radius: 1.5rem;
        color: #fff;
        padding: 12px 20px !important;
    
            padding: 12px 28px !important;

    }
    .btn-clr{
        background-color: #3B6E1C;
        
    }
    
    .count img {
        width: 40%;
        padding-left: 40px;
    }
    .btn-group {
        width: 73%;
        height: 50px;
        border-radius: var(--bs-border-radius);
    
    }
    
    .bar{color: #fff;
        text-align: right;
        
    }
.bar p{ 
    
    margin: auto;
}
.custom_banner {
    background: url(./img/lodg.jpg) #0000006d no-repeat center center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-blend-mode: multiply;
}

.custom_banner .banner-1 h1 {
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 10px;
    line-height: 1.2;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 30%;
    
}
.search_tabs .btn{
    border: 3px solid  #3B6E1C !important;
    background: transparent;
    padding: 6px 21px;
    font-size: 20px  !important;
    margin-bottom: 0px !important;
    font-weight: 400;
    border-bottom: 0px;
    width: 30%;
    color: #fff !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none !important;
    background-color: #3B6E1C;
    overflow: hidden;
}
.search_tabs {
    display: flex;
    justify-content: start;
    gap: 5px;
    width: 68%;
    margin: auto;
}
.custom_searchbar form {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.search-container{
    margin-left: 137px;
        width: 68%;
        border: 5px solid #3B6E1C !important;
        padding: 3px 0px 3px 20px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-top-left-radius: 0px;
    }
    .home-room{
        justify-content: space-around;
    }
.home-room img{
    width: 100%;
    height: 300px;
    border-radius: 5%;
}
.home-price{
    display: flex; 
}
.home-price p {
    font-size: 18px;
    font-weight: 600;
    width: 60%;
    margin: auto;
}

.home-free{ height: 20px;
    
  
    color: #fff;   
    margin: auto; 
    width: 30%;
    
   
}
.home-address{
    color: #6d7580;
    line-height: 35px;
}
.home-free p{ margin-left: 50px;
    font-size: 14px; 
    text-align: center;
    background-color:#ffc107;
    border-radius: 10px;
}
.home-icon{
    display: flex;
    color: #6d7580;
    line-height: 35px;
}
.home-adgst{
    line-height: 35px;
}
.pro-1 img{
    object-fit: cover;
}
.footer-1{
    width: 100%;
margin-left: 50px;
    margin: 0px 0 0;
    padding: 54px 0 33px;
    background: #202020;
    display: flex;
}
    

 ul li{
    display: inline;
    list-style: none;
    color:#6d7580;
    margin: 10px;
    cursor: pointer;
    
}
ul {
    padding-left: 80px;
}
.pig{
    margin: 10px;
}
:hover.pig{
    color: #3B6E1C;
    cursor: pointer;
}
.under{
    text-decoration: underline;
    color: #fff;
}
.icon{
    
    color:#6d7580; font-size: 30px; padding-left: 200px; margin: 0 0 20px;
}
@media only screen and (max-width:768px) {
    /* for mobile phones */
    .header{ 
    height: 40px;
        background: white !important;
        border-bottom: 2px solid #ccc !important;
    }
    .count-11{
        width: 50% !important; 
    }
    .project-1{
        width: 50% !important;
        
    }
    .d-flex {
        display: flex!important;
        height: 81px;
    }
    .col-md-6 {
        width: 50%;
    }
    .top-1{
        display: flex;
        margin-top: 12px !important;
    }


    .count {
        width: 90%;
    }
    
    .count img {
        width: 100%;
        padding-left: 20px;
        padding-top: 20px;
    }

    .search-container {
        margin-left: 60px;
        height: 50px;
        border: 5px solid #3B6E1C !important;
        padding: 3px 0px 3px 20px;
        border-radius: 5px;
        display: flex;
        /* justify-content: space-between; */
        background-color: #fff;
        border-top-left-radius: 0px;
    }
    .search_tabs .btn {
        border: 3px solid  #3B6E1C !important;
        background: transparent;
        padding: 1px 21px;
        font-size: 15px  !important;
        margin-bottom: -3px !important;
        font-weight: 400;
        border-bottom: 0px;
        width: 59%;
        color: #fff !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none !important;
        background-color: #3B6E1C;
        /* overflow: hidden; */
    }
    .custom_banner .banner-1 h1 {
        color: #fff;
        font-weight: 600;
        font-size: 1.8rem;
        padding-bottom: 10px;
        line-height: 1.2;
        margin-bottom: 10px;
        width: 100%;
        padding-left: 16%;
    }

    .top-1 button {
        margin-top: 30px !important;
        font-size: 10px;
        font-weight: 800;
        margin: 7px;
        background:none;
        color:#3B6E1C !important;
        background-color: none;
        border: none;
        border-radius: 1.5rem;
        color: #fff;
        padding: 0 0 !important;
        padding: 4px 2px !important;
    }
    .home-free p {
        margin-left: 50px;
        font-size: 13px;
        text-align: center;
        background-color: #ffc107;
        border-radius: 10px;
    }
    body {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .footer-1 { height: 300px;
        display: block;
        flex-direction: column;
        /* width: 100%; */
        margin-left: 0px;
        /* margin: 0px 0 0; */
         padding: 0px 0 0px; 
        background: #202020;
        /* /* display: flex;  */
        text-align: center;
    }
    .col-md-5.my-5 {
        margin-bottom: 0;
        margin-top: 0; padding: 0%;
    }
    ul { line-height: 30px;
        display: grid;
        padding-left: 0%;
    }
    
    .under-1{
        padding-top: 320px;
    }
    .col-md-5.my-5  {
    height: 300px;  text-align: center;
           
    }
    .icon { text-align: center  ;
        padding-left: 0px !important;
    
    
        color: #6d7580;
        font-size: 30px;
        
        margin: -28px 0 20px;
    }
}
